    <!-- Pied de page -->
    <footer>
      <span>Trombinoclock ® 2024 - Tous droits réservés</span>
    </footer>
  </body>

  <!-- Script pour charger dynamiquement les polices Google Fonts -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.href =
        "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
      document.head.appendChild(link);
    });
  </script>
</html>