<!-- Entête de page -->
    <header>
      <a class="header-logo" href="/">
        <img
          src="/images/trombinoclock.webp"
          alt="Logo de l'école Trombinoclock" />
      </a>
      <nav>
        <ul>
          <li><a href="/">Accueil</a></li>

          <li><a href="/promotions">Promotions</a></li>

          <li><a href="/admin/addStudent">Ajouter étudiant</a></li>

          <li><a href="#">Se connecter</a></li>
        </ul>
      </nav>
    </header>