<%- include('partials/head') %>

  <body>
    
    <%- include('partials/header') %>

    <!-- Corps de la page -->
    <main>
        <h1><%= errorMessage %></h1>
    </main>

<%- include('partials/footer') %>